/* 

Flex Template 

https://templatemo.com/tm-406-flex

*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: #010101;
}

.blue {
	color: #06C;
}

.green {
	color: #090;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: none;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
img {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
  *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]:-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

body {
  font-family: "nocturne-serif", Arial, sans-serif;
}

a {
  color: #010101;
  text-decoration: none;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
a:hover {
  color: black;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: nocturne-serif, Arial, sans-serif;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  border: 1px solid #d5d5d5;
  outline: 0;
  padding: 10px 12px;
  color: #666666;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
  border-color: #666666;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.main-btn {
  color: white;
  border: 1px solid white;
  padding: 12px 20px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e2e2e2;
  margin: 40px 0;
}

.site-header ul.social-icons,
.site-footer ul.social-icons {
  position: relative;
  z-index: 11;
  margin: 30px auto;
}
.site-header ul.social-icons li,
.site-footer ul.social-icons li {
  display: inline-block;
  margin: 0 6px;
}
.site-header ul.social-icons li{
  margin:0;
}
.site-header ul.social-icons li a,
.site-footer ul.social-icons li a  {
  /* width: 36px; */
  /* height: 36px; */
  /* background-color: #010101; */
  /* color: white; */
  text-align: center;
  line-height: 36px;
  /* border-radius: 18px; */
  /* -webkit-border-radius: 18px; */
  -moz-border-radius: 18px;
}

.main-header {
  /* position: fixed; */
  width: 100%;
  margin: 0 auto;
  z-index: 1000;
  margin-top: 60px;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.scrolled {
  left: 0;
  top: 0;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

#menu-wrapper {
  background-color: white;
  -moz-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.07);
  border-top: 1px solid #010101;
  font-size:14px;
}

.logo-wrapper {
  background: url(../images/logo.png) no-repeat;
  height: 100px;
  background-position: 15px;
}
.logo-wrapper a {
  display: inline-block;
  overflow: hidden;
  padding-left: 130px;
  line-height: 100px;
  text-transform: uppercase;
  color: #ec523f;
  font-size: 32px;
  font-weight: 700;
}

.main-menu ul li {
  display: inline-block;
  margin: 0 20px;
  width: 20%;
}
.main-menu ul li:last-child {
  margin-right: 35px;
}
.main-menu ul li a {
  text-transform: uppercase;
  font-size: 14px;
  color: #010101;
  line-height: 25px;
  /* padding-top: 37px; */
}
.main-menu ul li.active a {
  border-top: 3px solid #ec523f;
  color: #ec523f;
}

.toggle-menu {
  width: 36px;
  height: 36px;
  float: right;
  margin-top: 33px;
  margin-right: 30px;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  background: #EC523F;
  display: inline-block;
  color: white;
  cursor:pointer;
}

/*.menu-responsive {
  display: none;
  background-color: rgba(50, 50, 50, 0.88);
}
.menu-responsive ul li {
  padding: 5px 0px 5px 25px;
}
.menu-responsive ul li a {
  display: block;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}
.menu-responsive ul li.active a {
  color: #ec523f;
}*/

.flexslider {
  position: relative;
  top: -96px;
}
.flexslider .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.flexslider .slider-caption {
  position: absolute;
  z-index: 9;
  width: 100%;
  text-align: center;
  top: 380px;
  left: 0;
}
.flexslider .slider-caption h2 {
  color: white;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  display: inline-block;
}
.flexslider .slider-caption p {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 26px;
  display: block;
}
.flexslider .slider-caption a.slider-btn {
  color: white;
  background-color: #ec523f;
  padding: 12px 20px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
}
@media screen and (min-width: 989px) {
  .flexslider .slider-caption {
    top: 230px;
  }
}
@media screen and (min-width: 1200px) {
  .flexslider .slider-caption {
    top: 380px;
  }
}
@media screen and (max-width: 1199px) {
  .main-menu ul li {
    margin-left: 15px;
    margin-right: 15px;
  }
  .main-menu ul li:last-child {
    margin-right: 30px;
  }
}
@media screen and (max-width: 991px) {
  .logo-wrapper { 
    background-size: contain;     
  }
  .logo-wrapper{
    height: 50px;
  }
  .logo-wrapper a {
    line-height: 50px;
    padding-left: 70px;
  }
  .toggle-menu {
    margin-top: 7px;
    margin-right: 10px;
  }
  .main-menu ul li {
    display: block;
  }
  .menu-first.show {
    /*opacity: 1;*/
    /*height: auto;  */  
    margin-top: 10px;
    display: block;
    /*transition: opacity 1s, height 0;*/
  }
  .menu-first {
    float: right;
    overflow: auto;
    width: 100%;  
    display: none;  
    /*opacity: 1;  */  
    /*height: 0;  */  
    /*background: rgba(50, 50, 50, 0.88);*/
    /*transition: opacity 1s, height 0 1s; */
    /*transition: all 0.3s ease;    */
  }
  .main-menu ul li a {
    line-height: 40px;
    padding-top: 10px;   
  }
  .main-menu ul li.active a {
    border-top: none;
  }
  .main-menu ul li:last-child { margin-right: 20px; }
}
@media screen and (max-width: 767px) {
  .main-header {
    top: 0;
  }
  .site-header {
    margin-top: 40px;
  }
  .logo-wrapper {
    float: left;
  }
  .menu-first {
    margin-top: 0;
  }
  .flexslider {
    margin-top: 80px;
  }
}

@media screen and (max-height: 500px) {
  .menu-first.show {
    max-height: 250px;
    padding-right: 15px;
  }
}

.content-section {
  margin-top: 0;
  padding-top: 30px;
}

.heading-section {
  margin-bottom: 60px;
}
.heading-section h2 {
  font-size: 22px;
  /* font-weight: 600; */
  text-transform: uppercase;
  /* border-bottom: 1px solid #444444; */
  display: inline-block;
}
.heading-section h3 {
  color: #010101;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 10px;
}

.small-text {
  color: #aaaaaa;
}

.space-fixed {
  width: 100%;
  height: 130px;
  overflow: hidden;
  position: relative;
}

.content-section#services {
  margin-top: 0px;
}

.service-item {
  position: relative;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.service-item a {
	color: #ffff66;
}

.service-item a:hover {
	color: black;
}

.service-item .service-icon {
  font-size: 3em;
  padding: 110px 0;
}
.service-item .service-content {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.service-item .service-content .inner-service {
  padding: 20px;
}
.service-item .service-content h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  margin-bottom: 15px;
}
.service-item:hover .service-icon {
  opacity: 0;
  visibility: hidden;
}
.service-item:hover .service-content {
  opacity: 1;
  visibility: visible;
}

#service-1 {
  background-color: #1abc9c;
}

#service-2 {
  background-color: #e67e22;
}

#service-3 {
  background-color: #3498db;
}

#service-4 {
  background-color: #2ecc71;
}

.portfolio-item,
.sheet-item {
  position: relative;
  height: 100%;
}
.portfolio-item{
  margin-bottom: 30px;
}
.portfolio-item .portfolio-thumb,
.sheet-item-item .sheet-thumb {
  position: relative;
}
.portfolio-item .portfolio-thumb img,
.sheet-item .sheet-thumb img  {
  width: 100%;
  margin-top: 12px;
}
.portfolio-item .portfolio-thumb .portfolio-overlay,
.sheet-item .sheet-thumb .sheet-overlay  {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 12px;
  visibility: visible;
  -moz-transition: all 200ms ease-in-out;
}
.sheet-item .sheet-thumb .sheet-overlay {
   padding-left: 0;
   padding-right: 0;
}
.portfolio-item .portfolio-thumb .portfolio-overlay
{
   min-height: 280px;
}
.portfolio-item.escenicas .portfolio-thumb .portfolio-overlay{
  background-color: rgba(249, 226, 240, .45);
}
.portfolio-item.red .portfolio-thumb .portfolio-overlay{
  background-color:#ec523f;
}
.portfolio-item.cine .portfolio-thumb .portfolio-overlay{
  background-color: rgba(216, 241, 247, .45);
}
.portfolio-item.pensamiento .portfolio-thumb .portfolio-overlay{
  background-color: rgba(246, 189, 156, .5);
}
.portfolio-item.poesia .portfolio-thumb .portfolio-overlay{
  background-color:rgba(231, 206, 238, .7);
}
.portfolio-item.plasticas .portfolio-thumb .portfolio-overlay{
  background-color: rgba(239, 235, 232, .45);
}
.portfolio-item.meditacion .portfolio-thumb .portfolio-overlay{
  background-color:rgba(254, 238, 222, .7);
}
.portfolio-item.musica .portfolio-thumb .portfolio-overlay{
  background-color: rgba(210, 239, 230, .35);
}
.portfolio-item .portfolio-thumb .portfolio-overlay a.expand.negative,
.sheet-item .sheet-thumb .sheet-overlay a.expand.negative  {
  color:#FFFFFF;
  background-color:#010101;
}
.portfolio-item.escenicas .portfolio-thumb .portfolio-overlay a.expand.negative {
  color: #f9e2f0 !important;
}
.portfolio-item.red .portfolio-thumb .portfolio-overlay a.expand.negative {
  color:#ec523f !important;
}
.portfolio-item.poesia .portfolio-thumb .portfolio-overlay a.expand.negative {
  color:#E7CEEE !important;
}
.portfolio-item.cine .portfolio-thumb .portfolio-overlay a.expand.negative {
  color: #D8F1F7 !important;
}
.portfolio-item.pensamiento .portfolio-thumb .portfolio-overlay a.expand.negative {
  color: #F6BD9C !important;
}
.portfolio-item.musica .portfolio-thumb .portfolio-overlay a.expand.negative {
  color: #D2EFE6 !important;
}
.portfolio-item.plasticas .portfolio-thumb .portfolio-overlay a.expand.negative {
  color:#EFEBE8 !important;
}
.portfolio-item.meditacion .portfolio-thumb .portfolio-overlay a.expand.negative {
  color:#FEEEDE !important;
}
.portfolio-item .portfolio-thumb .portfolio-overlay h3,
.sheet-item .sheet-thumb .sheet-overlay h3 {
  font-size: 23px;
  text-transform: uppercase;
  margin-top: 5px;
  display: inline-block;
}
.sheet-item .sheet-thumb .sheet-overlay h3{
  font-size:25px;
}
.portfolio-item .portfolio-thumb .portfolio-overlay a.expand,
.sheet-item .sheet-thumb .sheet-overlay a.expand {
  margin-right: 12px;
  position: relative;
  margin-bottom: 12px;
  font-size: 10px;
  border: 1px solid #010101;
  -moz-border-radius: 18px;
  padding: 9px;
  padding-top: 7px;
  padding-left: 12px;
  padding-right: 12px;
  text-transform: uppercase;
  color: #010101;
  display: inline-block;
  text-align: center;
}
.portfolio-item .portfolio-thumb .portfolio-overlay a.expand i,
.sheet-item .sheet-thumb .sheet-overlay a.expand i {
  line-height: 36px;
}
.portfolio-item .portfolio-thumb:hover .portfolio-overlay,
.sheet-item .sheet-thumb:hover .sheet-overlay {
  opacity: 1;
  visibility: visible;
}

.team-member {
  margin-bottom: 30px;
}
.team-member .member-thumb {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.team-member .member-thumb img {
  width: 100%;
}
.team-member .member-thumb .team-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  text-align: center;
  top: 0;
  left: 0;
  background-color: #ec523f;
  color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.team-member .member-thumb .team-overlay h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  margin-top: 64px;
}
.team-member .member-thumb .team-overlay span {
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 10px;
  display: block;
}
.team-member .member-thumb .team-overlay ul.social {
  display: block;
  margin-top: 20px;
}
.team-member .member-thumb .team-overlay ul.social li {
  display: inline-block;
}
.team-member .member-thumb .team-overlay ul.social li a {
  width: 36px;
  height: 36px;
  background-color: white;
  line-height: 40px;
  color: #ec523f;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
}
.team-member .member-thumb:hover .team-overlay {
  opacity: 1;
  visibility: visible;
}

.skills-heading {
  margin-top: 60px;
  margin-bottom: 50px;
}
.skills-heading h3.skills-title {
  font-style: italic;
  font-size: 18px;
  text-transform: uppercase;
  color: #5e5e5e;
}
.skills-heading .small-text {
  font-style: italic;
}

.progress {
  height: 34px;
  box-shadow: none;
  border-radius: 0;
  background-color: #e7e7e7;
  margin-bottom: 10px;
}

.progress-bar {
  line-height: 34px;
  text-align: left;
  padding-left: 15px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #ec523f;
  box-shadow: none;
}

.googlemap-wrapper {
  height: 380px;
  margin-bottom: 40px;
}

.map-canvas {
  height: 380px;
  border: 10px solid #efefef;
}

.contact-info {
  margin-top: 40px;
}

.contact-form input {
  width: 100%;
  margin-bottom: 15px;
}
.contact-form textarea {
  width: 100%;
  max-width: 100%;
  height: 120px;
}
.contact-form .mainBtn {
  margin-top: 15px;
  color: white;
  background-color: #ec523f;
  text-transform: uppercase;
  border: 0;
}

#go-top {
  background-color: #ec523f;
  color: white;
  padding: 15px 40px;
  text-transform: uppercase;
  font-weight: 700;
}

#footer {
  /* margin-top: 130px; */
}

/*
body, p, div, h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", Arial, Verdana, Geneva, sans-serif;
   	font-style: normal;
}
*/

.small-caps{
  text-transform: uppercase;
  font-size: .7em
}
span.date{
    margin-bottom: 10px;
    display: block;
    font-family: Inter, Arial;
}
p.subtitle{
    margin-bottom: 10px;
    font-style: italic;
}
.portfolio-overlay div.button-wrapper{
    position: absolute;
    bottom: 0;
}
.portfolio-overlay.fucsia a.expand.negative
{
  color: #F7D8EA !important;
  background-color: black;
}
.top-bar .icon {
  display: inline-block;
  font-size: 18px;
  text-align: right;
}
.float-right{
  float: right;
  padding-top: 0px;
}
.site-header .top-bar{
  background-color: black;
  color: white;
  padding: .5em;
  font-size: 10px;
  font-family: lato,sans-serif;
}
.top-bar .text{
  margin-top: .5em;
  display: inline-block;
}
.top-bar .icon img{
  display: inline-block;
  vertical-align: middle;
}
.navbar-nav>li {
  text-transform: uppercase;
  height: auto;
}
.navbar-nav>li:first-child {
  border-left: 0px;
  margin-left: 0px;
  padding-left: 0px;
}
.row.nav-bar {
    margin-top: 15px;
    font-size: 12px;

}
.navbar-nav.navbar-right{
  
  margin-right: 5px !important;

  font-size: 14px;
}
.logo .logo-header{
  text-transform: uppercase;
  font-size: 11px;
}
.logo>img{
  margin: 0 auto;
}
.navbar-nav>li.nav-item::before {
    content: "|";
    padding-right: 8px;
    padding-left: 8px;
}
.navbar-nav>li:first-child::before {
    content: none;
    padding-right: 0;
}
.low-bar {
    color: white;
    background-color: #010101;
    font-size:12px;
    font-family: lato,sans-serif;
}
.low-bar a {
    color: white !important;
    font-size: 10px;
    text-decoration: underline;
    margin-left: 8px;
}
ul.navbar-nav{
  padding-left: 10px;
  padding-right: 10px;
} 
.low-bar .nav-bar
{
  margin-top:0px;
  font-size: 10px;
}
.low-bar p
{
  margin: 10px;
}
.site-footer ul.social-icons
{
  margin-bottom:10px;
}
.site-footer .top-bar
{
  margin-top:40px;
}
 ul.social-icons li a{
   font-size:20px;
 }
 .site-header ul.social-icons li a{
   font-size: 15px;
   line-height: 26px !important;
   width: 24px !important;
   height: 24px !important;
   background-size: 24px 24px;
 }
 .site-header ul.social-icons li a:before{
   width: 24px !important;
   height: 24px !important;
   background-size: 24px 24px;
 }
 .site-footer .navbar-nav.navbar-right
 {
    font-size: 12px;
    margin-right: 0px !important;
    padding-right: 5px;
 }
 .site-footer .top-bar
 {
   margin-bottom: 40px;
 }
 .site-footer .top-bar .left
 {
   margin-top: 40px;
 }
 .portfolio-item .portfolio-thumb .portfolio-overlay::before,
 .sheet-item .sheet-thumb .sheet-overlay:before,
 .sheet-item.ultimas .nav-wrapper:before{
   position: absolute;
   top: -42px;
   left: -5px;
   padding: 5px;
   background: white;
   font-size: 12px;
 }
 .portfolio-item.cancelado .portfolio-thumb .portfolio-overlay::before,
 .sheet-item.cancelado .sheet-thumb .sheet-overlay:before {
     content:"CANCELADO"
 }
 .portfolio-item.ultimas .portfolio-thumb .portfolio-overlay::before,
 .sheet-item.ultimas .sheet-thumb .sheet-overlay:before,
 .sheet-item.ultimas .nav-wrapper:before {
   content: "\00daLTIMAS ENTRADAS";
 }
 .menu .menu-row {
   line-height: 30px;
   border-bottom: 1px solid #010101;
 }
 .menu .menu-row a {
   display: inline-block;
   margin: 0 auto;
   float: left;
   border: 0;
 }
 .bar-wrapper {
		background-color: #010101;
 }
 .form-inline.search input {
   border: 0;
   box-shadow: none;
 }
 .form-inline.search i.fa {
    margin-left: -20px;
    font-size: 18px;
    position: absolute;
    top: 20px;
    z-index: 0;
 }
 .top-social a {
    display: inline-block;
    margin: 0 5px;
    font-size: 12px;
 }
 .top-social ul.social-icons {

display: inline-block;

margin-top: 15px;

padding-left: 0px;

}
 .top-social .form-inline{
    display: inline-block;
    margin-right: 16px;
 }
.form-inline.search:focus-within input {
    border:1px solid #010101;
    transition: border ease-in-out .15s;  
}
.form-inline.search:focus-within i.fa{
    opacity: .0;
    transition: opacity ease-in-out .15s; 
}
.menu a:hover{
  color:white;
  background-color:#010101;
}
.main-menu .menu .menu-row {
    padding: 0px;
    position: relative;
    width: 100%;
}
.main-menu .menu .menu-row.five a{
  width: 20%
}
.main-menu .menu .menu-row.four a{
  width: 25%
}
.main-menu .menu .menu-row a.text-left{
  padding-left:15px;
}
.main-menu .menu .menu-row a.text-right{
  padding-right:15px;
}
a:visited {
  color: #010101;
}

.main-menu .menu .menu-row .dropdown.show.open a {
    background-color: #010101;
    color: white;
}
.main-menu .menu .menu-row .dropdown.show.open a.dropdown-item {
    display: block;
    width: 100%;
    text-align: left;
    font-weight: 100;
    line-height: 34px;
}

.open>.dropdown-menu {
    background-color: #010101;
    border: 0;
    border-radius: 0;
    top: 28px;
    max-width: 30%;
    padding: 16px;
}
.dropdown-menu{
  transition: all 200ms ease-in-out;
}
.portfolio-item.white .portfolio-thumb .portfolio-overlay {
    border: 2px solid #B2B2B2;
    border-top: 0;
}
.portfolio-item .portfolio-thumb .top-text {
    position: absolute;
    top: -40px;
    left: 0px;
}
.left-column .sheet-item h5 {
    text-transform: uppercase;
    font-size: 12px;
}
.sheet-item.ultimas .sheet-thumb .sheet-overlay:before{
  top: -48px;
  left: 0;
}
.sheet-item img{
  width:100%;
  margin-top:12px;
}
.sheet-item .nav-wrapper {
    margin-top: 12px;
}

.sheet-item .copyright {
    margin-top: 0;
    font-size: 12px;
}
ul.nav.nav-tabs li>a {
    border-color: #010101 !important;
    border-left-color: transparent !important;
    border-radius: 0;
}
ul.nav.nav-tabs .active>a{
    border-left-color: transparent !important;
    border-bottom-color:transparent !important;
    color: #010101;
}
ul.nav.nav-tabs {
  border-left: 1px solid #010101;
}
.tab-pane {
  padding-top: 25px;
}
.carousel .tab-pane {
    padding-top:5px;
    margin-left: -15px;
    margin-right: -15px;
}
div#sheet {
    padding-bottom: 40px;
}
img.logo{
  width: auto !important;
}
.row.body-content, .row.footer-content,
.row.body-content .right-column .section.accesibilidad {
    font-size: 12px;
}
.row.body-content .right-column {
    font-size: 14px;
}
.row.body-content .right-column, .row.footer-content .right-column,
.row.body-content b {
    font-family: Inter, Arial, sans-serif;
}
.row.body-content b  {
    text-transform: uppercase;
}
.row.body-content p,
.row.footer-content p {
    margin-bottom: .8em;
}
.row.footer-content .tematica> p{
    margin-bottom: 2em;
    font-size: 12px;
}
.row.body-content .right-column p,
.row.footer-content .right-column p {
    margin-bottom: 2px;
}
.row.body-content .right-column p.top-label {
    font-weight: 600;
}

.row.body-content .right-column .section {
    margin-bottom: 26px;
}
.row.body-content .right-column .section.accesibilidad img,
.row.footer-content .right-column .section.accesibilidad img{
  display:inline;
  vertical-align: sub;
}
.twitter-hashtag a {
    display: block;
    font-size: 12px;
}
.twitter-hashtag p,
.twitter-hashtag a {
    margin-bottom: 12px !important;
}
.row.body-content .right-column img,
.row.footer-content .right-column img{
    width: auto;
    margin-top: 12px;
}
.row.body-content .right-column .section.accesibilidad div>div,
.row.footer-content .right-column .section.accesibilidad div>div{
    display:inline-block;
}
.row.body-content .right-column .section.accesibilidad div.image-wrapper>img,
.row.footer-content .right-column .section.accesibilidad div.image-wrapper>img{
    height: 1.65em;
}
.row.body-content .right-column .section.accesibilidad div.image-wrapper,
.row.footer-content .right-column .section.accesibilidad div.image-wrapper{
    min-width: 2.7em;
}
.row.body-content .right-column div.accesibilidad> p:last-child,
.row.footer-content .right-column div.accesibilidad> p:last-child {
    margin-top: 12px;
}
a.jobo img {
    width: 50% !important;
}
a.jobo {
    width: 50%;
    display: block;
}
.row.footer-content .tematica {
    font-family: Inter, Arial, sans-serif;
    font-size: 14px;
    margin-top: 80px;
    /* margin-bottom: 80px; */
}
.row.footer-content .logo.inaem {
    margin-top: 80px;
    display: block;
}
.row.footer-content .logo.inaem > img{
    margin: 0;
}
.col-lg-3.right-column h2 {
    font-size: 20px;
}
ul.social-icons a.icono:before {
    content: " ";
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: content-box;
    width: 36px;
    height: 36px;
    display: inline-block;
}

ul.social-icons a.icono.icono-facebook:before {
    background-image: url('../images/icons/icono-facebook-retina.png');
}
ul.social-icons a.icono.icono-instagram:before {
    background-image: url('../images/icons/icono-instagram-retina.png');
}
ul.social-icons a.icono.icono-twitter:before {
    background-image: url('../images/icons/icono-twitter-retina.png');
}
ul.social-icons a.icono.icono-youtube:before {
    background-image: url('../images/icons/icono-youtube-retina.png');
}
.top-social > a{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}